<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AcmeDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>AcmeDemoService</display-name>
    <servlet-name>AcmeDemoService</servlet-name>
    <servlet-class>com.jboss.soap.service.acmedemo.AcmeDemoService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcmeDemoService</servlet-name>
    <url-pattern>/AcmeDemoService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AcmeDemoInterface</display-name>
    <servlet-name>AcmeDemoInterface</servlet-name>
    <servlet-class>com.jboss.soap.service.impl.AcmeDemoInterfaceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcmeDemoInterface</servlet-name>
    <url-pattern>/AcmeDemoInterface</url-pattern>
  </servlet-mapping>
</web-app>